@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&family=Montserrat:wght@100&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
*{
    margin: 0;                /*마진값 초기화*/
    padding: 0;               /*패딩값 초기화*/
    box-sizing:border-box;    /*박스 영역은 테두리까지 지정*/
}

a {
    text-decoration: none;    /*링크의 밑줄을 감춤*/
}
ul {
    list-style: none;
}

#container {
    margin: 0 auto;      /*화면 중앙에 배치*/
    width: 100%;       /*너비 지정*/
}

/*헤더 영역*/
header {
    width: 100%;        /*너비*/
    height: 100px;       /*높이*/
    background-color: #004;
}

/*로고 영역*/
#logo {
    float: left;        /*왼쪽으로 플로팅*/
    width: 25%;       /*너비*/
    height: 100px;      /*높이*/
}
#logo > a > img {
    width: 120px;
    height: 90%;
    display: block;
    margin: 5px auto;
}


/*내비게이션 영역*/
nav {
    float: right;      /*로고 옆 오른쪽으로 플로팅*/
    width: 75%;      /*너비*/
    height: 100px;     /*내비게이션 영역 높이*/
    padding-top: 40px; /*메뉴를 아래로 내리기 위해*/
}
#topMenu {
    height: 60px;
}
#topMenu > li {
    float: right;        /*메뉴 항목을 왼쪽으로 플로팅*/
    position: relative; /*서브메뉴를 absolute 하기위함*/
}
#topMenu > li > a {
    display: block;            /*링크 텍스트 블록 형태로 지정*/
    color: #fff;             /*폰트 색상*/
    font-weight: 600;          /*폰트 굵기*/
    text-shadow: 0 1px #222; /*그림자 추가*/
    padding: 20px 100px;        /*패딩 지정*/
}
#topMenu > li > a > span {
    font-size: 0.5em;
}
#topMenu > li > a:hover {
    text-shadow: 0 -1px #222; /*글자가 굵어지지 않도록 지정*/
}
#topMenu > li > ul {
    display: none;           /*서브메뉴 처음에는 감춤*/
    position: absolute;      /*서브메뉴가 topMenu와 어울리기 위함*/
    width: 100%;
    left: 20px;
    margin: 0;
    background-color: rgba(0, 0, 68, 0.6);
}
#topMenu > li > ul > li {
    padding: 10px 10px 10px 30px;   /*서브메뉴 항목 크기 지정*/
}

#topMenu > li > ul > li > a {
    font-size: 14px;
    padding: 10px;
    color: #fff;
}
#topMenu > li:hover > ul {
    display: block;    /*메인 메뉴 항목 위로 오버하면 서브메뉴 표시*/
    z-index: 10;       /*슬라이드 쇼에 가리지 않게 조절*/
}
#topMenu > li > ul > li:hover {
    background-color: #004;
}



/*콘텐츠 영역*/

/*첫번째 사진*/          
.fixed01{
    width: 100%; height: 850px;

    /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
    background-image: url(../images/photo-1.jpg);
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
    position: relative;
}

.sideslide {
    position: absolute;
    float: left;
    width: 35%;
    height: 100%;
    background-color: rgba(64, 83, 252, 0.3);;
}
.maincomment {
    position: absolute;
    right: 0;
    display: block;
    margin: 400px auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    text-shadow: 0 -1px 0 #222;
    color: #fff;
    transform: translate(-100px, 0);
    opacity: 0;
    transition: all .8s ease;
}
.maincomment.show {
    opacity: 1;
    transform: none;
}

/*첫번째 콘텐츠*/
.contents01 {
    width: 100%;
    height: 600px; 
    background-color: rgb(252, 252, 252); 
    position: relative;
}
.practicez {
    position: absolute;
    float: left;
    width: 35%;
    height: 100%;
    background-color: rgba(248, 185, 48, 0.5);;
}
.practice {
    position: absolute;
    right: 0;
    display: block;
    margin: 160px auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    color: #fff;
    transform: translate(-100px, 0);
    opacity: 0;
    transition: all .5s ease;
}
.practice.show {
    opacity: 1;
    transform: none;
}

.explane {
    position: absolute;
    right: 0;
    width: 65%;
    height: 100%;
    background-color: rgb(252, 252, 252); 
}
.exp {
    position: absolute;
    float: right;
    height: 100%;
    transform: translate(100px, 0);
    opacity: 0;
    transition: all .5s ease;
}
.exp.show {
    opacity: 1;
    transform: none;
    width: 100%;
}
.depart {
    float: left;
    width: 30%;
    margin: 80px 10px auto 30px;
}
.sup {
    float: left;
    width: 30%;
    margin: 80px 10px auto 10px;
}
.cun {
    float: left;
    width: 30%;
    margin: 80px 10px auto 10px;
}
.block {
    color: #0066cc;
}
.exp > div > p > a {
    color: black;
}
.exp > div > p > a:hover {
    color: black;
}

.contents01-1 {
    width: 100%;
    height: 600px;
    background-color: rgb(234, 244, 246);;
    position: relative;
    font-family: 'Gothic A1', sans-serif;
}
.performance {
    position: absolute;
    width: 100%;
    margin: 90px auto;
    color: rgb(0, 48, 91);
}

.main {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
}
.name {
    color: rgb(0, 29, 54);
    font-weight: bold;
}
.libya {
    float: left;
    width: 30%;
    margin-left: 50px;
}
.airport {
    float: left;
    width: 30%;
}
.station {
    float: left;
    width: 30%;
}
.photo01 > img {
    width: 300px;
    height: 300px;
}

/*두번째 사진*/
.fixed02{
    width: 100%; height: 450px;
    /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
    background-image: url(../images/photo-2.jpg);
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
}


/*두번째 콘텐츠*/
.contents02 {
    width: 100%;
    height: 600px; 
    background-color: orange; 
    position: relative;
}
.photo02 {
    position: absolute;
    float: left;
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 100px 50px;
}


/*세번째 사진*/
.fixed03{
    width: 100%; height: 450px;
    /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
    background-image: url(../images/photo-3.jpg);
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
}

/*세번째 콘텐츠*/
.contents03 {
    width: 100%;
    height: 600px; 
    background-color: orange; 
    position: relative;
}
.contect {
    position: absolute;
    margin: 90px 100px;
    color: #fff;
}
.head {
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
    transform: translate(0, -100px);
    opacity: 0;
    transition: all .5s ease;
}
.head.show {
    opacity: 1;
    transform: none;
}
.body {
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    transform: translate(0, 100px);
    opacity: 0;
    transition: all .5s ease;
    font-weight: 500;
}
.body.show {
    opacity: 1;
    transform: none;
}
.phonenum {
    background-color: rgb(38, 48, 67);
    margin: 60px 300px;
    text-align: center;
}
.phonenum:hover {
    background-color: #3C467D;
    cursor: pointer;
}


/*푸터 영역*/
footer {
    width: 100%;       /*너비*/
    height: 100px;     /*높이*/
    border-top: 2px solid #222;   /*위쪽에 가로선 추가*/
}
.address {
    float: left;
    width: 24%;
    height: 90px;
    border-right: 1px solid #ddd;
    margin-left: 10px;
}

.tel {
    float: left;
    width: 24%;
    height: 90px;
    border-right: 1px solid #ddd;
    margin-left: 10px;
}

.fax {
    float: left;
    width: 24%;
    height: 90px;
    border-right: 1px solid #ddd;
    margin-left: 10px;
}

.business {
    float: left;
    width: 24%;
    height: 90px;
    margin-left: 10px;
}
.what {
    font-weight: 600;
    color: #0066cc;
}

@media (min-width: 576px){

}

@media (min-width: 768px){

}

@media (min-width: 1200px){

}
